<footer class="container">
    <div id="support-methods-container">
        <ul class="horizontal-list">
            <li>Sales Team</li>
            <li>Customer Service</li>
            <li>Technical Support</li>
        </ul>
    </div>
    <div id="why-us-container">
        <ul class="horizontal-list">
            <li>Free Shipping on All Orders Over $50</li>
            <li>We Will Price Match Our Competitors</li>
            <li>Latte Rewards Program</li>
            <li>We Are THE Coffee Experts</li>
            <li>Connect With Us</li>
        </ul>
    </div>
</footer>
</body>
</html>