<% include jump-to-subpartials/jump-to-nav %>
<div class="container" id="jump-tos-container">
    <% include jump-to-subpartials/reviews %>
    <% include jump-to-subpartials/overview %>
    <% include jump-to-subpartials/related %>
    <% include jump-to-subpartials/specs %>
    <% include jump-to-subpartials/videos %>
</div>
