<ul class="horizontal-list">
    <li>
        <a class="dead-link" href="http://facebook.com/">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a class="dead-link" href="http://linkedin.com/">
            <i class="fa fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a class="dead-link" href="http://twitter.com/">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li>
        <a class="dead-link" href="http://plus.google.com/">
            <i class="fa fa-google-plus"></i> 
        </a>
    </li>
</ul>