<div id="jump-to">
    <h2>
        JUMP TO:
        <span class="jumpto-reviews jumpto">
            REVIEWS
        </span>|
        <span class="jumpto-desc jumpto">
            DESCRIPTION
        </span>|
        <span class="jumpto-specs jumpto">
            SPECS
        </span>|
        <span class="jumpto-related jumpto">
            RELATED PRODUCTS
        </span>|
        <span class="jumpto-videos jumpto">
            VIDEOS
        </span>

</div>