<div id="description">
  <h3>Product Overview</h3>
  <% for (var key in productData.overview) { %>
    <% if (productData.overview.hasOwnProperty(key)) { %>
      <h4><%= key %></h4>
      <p>
        <%= productData.overview[key] %>
      </p>
    <% } %>
  <% } %>
</div>